---
import Layout from "../layouts/Layout.astro";
import BackgroundAnimated from "../layouts/Background-animated.astro";
import Header from "../components/header.astro";
import Main from "../components/main.astro";
---
<Layout  title="Alex's Portfolio">
  <Header></Header>
  <Main></Main>
  <BackgroundAnimated />
</Layout>
