---
---
<section class="relative z-10 max-w-5xl mx-auto flex flex-col items-center border-t border-slate-200 py-20 max-sm:max-w-[90%]">
  <h2 class="text-slate-200 font-extrabold text-5xl text-center py-2 max-sm:text-4xl max-[430px]:text-3xl max-[340px]:text-2xl max-[280px]:text-xl">Tell me about your next project</h2>
  <button class="text-slate-300 hover:text-slate-50 border py-4 px-10 mt-10 font-light box-border hover:bg-neutral-900">Contact me</button>
</section>
