---
import SkillsSection from "./Skills_section.astro"
import ContactSection from "./Contact_section.astro"
import TechnologiesSection from "./Technologies_section.astro";
import PresentationSection from "./Presentation_section.astro"
---
<main>
  <PresentationSection></PresentationSection>
  <TechnologiesSection></TechnologiesSection>
  <SkillsSection></SkillsSection>
  <ContactSection></ContactSection>
</main>

